{% extends 'AndresMazzaUserBundle:User:layout.html.twig' %}
{% block body %}
    {{ parent() }}
{{ include('AndresMazzaUserBundle:User:success.html.twig') }}
{% for flashMEssage in app.session.flashBag.get('notice') %}
    <div class="alert alert-success" role="alert">
        <div class="container">{{ flashMEssage }}</div>
    </div>
{% endfor %}
<div class="container">
    <div class="col-md-12">
        <div class="page-header margin-none">
            <h2 class="padding-none">Users</h2>
        </div>
<div class="table-responsive">
    Total Records: {{ pagination.getTotalItemCount }}
    <table class="table table-striped table-hover">
        <thead>
            <th> {{ knp_pagination_sortable(pagination,'Username' | trans ,'u.username') }}</th>
            <th> {{ knp_pagination_sortable(pagination,'First name' | trans ,'u.firstName') }}</th>
            <th> {{ knp_pagination_sortable(pagination,'Last name' | trans ,'u.lastName') }}</th>
            <th> {{ knp_pagination_sortable(pagination,'Email' | trans ,'u.email') }}</th>
            <th> {{ knp_pagination_sortable(pagination,'Role' | trans ,'u.role') }}</th>
            <th> {{ knp_pagination_sortable(pagination,'Created' | trans ,'u.createdAt') }}</th>
            <th> {{ knp_pagination_sortable(pagination,'Updated' | trans ,'u.updatedAt') }}</th>

            <th> {{ 'Action' | trans }}</th>
        </thead>
    {% for user in pagination if pagination %}
        <tr>
            <td>{{ user.getUsername }}</td>
            <td>{{ user.getFirstname }}</td>
            <td>{{ user.getLastname }}</td>
            <td>{{ user.getEmail }}</td>
            <td>{{ user.getRole }}</td>
            <td>{{ user.getCreatedAt | date('Y-m-d H:i:s') }}</td>
            <td>{{ user.getUpdatedAt | date('Y-m-d H:i:s') }}</td>
            <td class="actions">
                <a href="{{ path('andres_mazza_user_view', { id: user.id}) }}" class="btn btn-sm btn-info"> {{ 'view' | trans }}</a>
                <a href="{{ path('andres_mazza_user_edit', { id: user.id}) }}" class="btn btn-sm btn-primary">{{ 'edit' | trans }}</a>
                <a href="{{ path('andres_mazza_user_delete', { id: user.id}) }}" class="btn btn-sm btn-danger btn-delete">{{ 'delete' | trans }}</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    {# Dsiplay Navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
    </div>
</div>

{% endblock %}